*.aab
.android-sdk/
*.apk
/app/build
app/src/main/assets/
/build
.build-vars
/captures
.cxx
*.deb
.DS_Store
.externalNativeBuild
.extracted
.gradle
/.gradle
/.idea
*.iml
.jdk21/
jre-data/
/local.properties
local.properties
step-data/
*.tar.gz
*.tar.xz
