*.aab
*.apk
*.deb
*.iml
*.tar.gz
*.tar.xz
.DS_Store
.build-vars
.cxx
.extracted
.gradle
.gradle/
.kotlin/
.kotlin-cache/
.idea/
app/src/main/assets/
app/src/main/jniLibs/
build/
build-cache/
captures/
externalNativeBuild/
gradlew
gradlew.bat
gradle/wrapper/gradle-wrapper.jar
local.properties
